

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: fantasy;
}

body{
    height: 100vh;
    background: linear-gradient(to bottom, red 50%,black );
}

.calc{
    color: rgba(255, 255, 255, 0.268);
}


.calculator{
    width: 400px;
    background-color: rgb(13, 13, 13) ;
    padding: 50px 30px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border: 8px;
    border-style: double;
    border-color: rgba(255, 0, 0, 0.455);
    border-radius: 8px;
    box-shadow: 5px 20px 50px 10px black;
}

.display{
    width: 100%;
}

.display input{
    width: 100%;
    padding: 50px 10.1px;
    text-align: right;
    border: none;
    background-color: black;
    border-radius: 10px;
    color: white;
    font-size: 35px;
}

.display input::placeholder{
    color: darkgray;
}


.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    margin-top: 40px;
}

.buttons input:hover{
    transform: scale(1.2);
}

.buttons input[type="button"]{
    font-size: 20px;
    padding: 17px;
    border: 3px;
    background-color: rgba(0, 0, 0, 0.156);
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.buttons input[type="button"]:hover{
    box-shadow: 0 10px 25px red;
}

.buttons input[type="button"]#equel{
    grid-row: span 2;
    background-color: red;
}

.buttons input[type="button"][value="0"]{
    grid-column: span 2;
    background-color: black;
}
